<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adresse</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">

    <script th:src="@{/bootstrap.js}"></script>
    <meta http-equiv="Content-Type" content="text/html ; charset=UTF-8" />
</head>
<body>
<form action="/meteo" method="post">
    <div>
        <label for="address">Please input your adress :</label>
        <input name="address" id="address">
    </div>
    <div>
        <button>Get the weather at the given address !</button>
    </div>
</form >
</body>
</html>